/*MediaQueries*/
@media (max-width:992px){
    .link{
        font-size: $text-mid;
    }
    



    .imgtec{
       width: 18rem;
        justify-content: center;
        align-content: center;
        gap: 4rem ;

    }







}
@media (max-width:768px)
 {
     /*index*/
    header{
        align-items: center;
    }

    .linkBox{
    
        flex-direction: column;
        
    }
    
    .indexBox{
        max-width: 100%  ;
        
    }  
    .imgestamp {
        width: 50rem;
        max-width: 100%;
        margin-top: 5rem;  
        height: 40rem; 
    }
 
    /*servicios*/

    .title{font-size: $text--Xlarge }



    .imgBox{flex-direction: row;
    }
    .imgtec{
        width:16rem;
        justify-content: center;
        align-content: center;
        gap: 3rem ;

    }



    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
       
    }
     

    
    .redes__box{
        margin-left: 0rem;
    
    }
    .redes { margin-left: 0rem;
        
       
    
    }
    .logos {
     max-width: 5rem;
      }
    
    
    .nav__links{
        display: flex;
        flex-direction: row;
    
    }
    


}

@media (max-width:576px){


.imgtec{

    width: 10rem;
}



.title{
    font-size: $text-large;
}






}

@media (max-width:480px) {

    /*index*/

.link{
    font-size: $text-small;
}






    /*servicios*/

    .imgtec{

        width: 8rem;
    }
}