


.gallery_title{  
    font-family: $principal-font;
        
    font-size: $text--Xlarge;

    color: rgb(255, 217, 0) ;
    text-align: center;
    margin-top: 4rem;
    filter: drop-shadow(1px 1px 10px rgb(0, 0, 0));
  }

.gallery__box{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 7rem;
    margin-right: auto;
    margin-top: 2rem;
     margin-bottom: 1rem;
    background: rgba(117, 113, 113, 0.3);
    box-shadow: 0 1px 1rem 0 rgba(255, 255, 5, 0.973);
    -webkit-backdrop-filter: blur( 15px );
     border-radius: 10px;
    border: 1px solid rgba(255, 241, 0, 0.18);
    width: 90%;
    height: 100rem;
    .gallery{ 

        align-items: center;
       justify-items: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 0.5rem;
       margin-top: 1rem;
       margin-bottom: 10rem;
       
        .gallery__grid_img:nth-of-type(1){  
            height:75%;
            width: 75%;
             grid-column: 1; 
             grid-row: 1;
        }
        
        .gallery__grid_img:nth-of-type(2){ 
            height: 75%;
            width: 75%;
            grid-column: 2;
            grid-row: 1;
           
        }
        .gallery__grid_img:nth-of-type(3){
             height: 75%;
             width: 75%;
             grid-column: 3;
             grid-row: 1;
            
        }
        
        .gallery__grid_img:nth-of-type(4){ 
            height: 75%;
            width: 75%;
            grid-column: 1 ;
            grid-row: 2;
           
        }
        .gallery__grid_img:nth-of-type(5){ 
            height: 75%;
            width:75%;
            grid-column: 2;
            grid-row: 2;
        }
        .gallery__grid_img:nth-of-type(6){ 
            height: 75%;
            width: 75%;
            grid-column: 3;
            grid-row: 2;
        }
        
    }   
    
        



}

.gallery_img{

    border-radius: 15px;
filter: drop-shadow(1px 1px 10px rgb(0, 0, 0));

}

/*MediaQueries*/

@media (max-width:992px){
  
    




}
@media (max-width:768px)
 {
    .gallery__box{
      
        height: 50rem;
        margin-left: 2rem;

        .gallery{ 

         margin-top: 6rem;
         }
        }   
    
}

@media (max-width:576px){

   
        
    }

@media (max-width:480px) 
{

    .gallery_title{
       font-size: $text-large;

    }
   
    .gallery__box{
      
        height: 50rem;
        margin-left: 2rem;

        .gallery{ 

         margin-top: 6rem;


        .gallery__img:nth-of-type(1){  
           
          
        }
        
        .gallery__img:nth-of-type(2){ 
         
           
        }
        .gallery__img:nth-of-type(3){
             
            
        }
        
        .gallery__img:nth-of-type(4){ 
          
           
        }
        .gallery__img:nth-of-type(5){ 
           
        }
        .gallery__img:nth-of-type(6){ 
          
        }
         }
    }
}