.index_box{

    @include flex(column, center , center, 0,);
             
    margin-top:  10rem; 

}

    .index_imgEstamp {
        width: 70rem;
        max-width: 100%;
        margin-top: 50px;  
        height: 60rem; 
    }
    
    .index_title{
        font-family: $principal-font;
        
        font-size: $text--Xlarge;
    
        color: rgb(255, 217, 0) ;
        text-align: center;
        margin-top: 4rem;
        
    }
    
    




/*MediaQueries*/


@media (max-width:768px)
 {
     /*index*/
  
    
    .index_box{
        max-width: 100%  ;
        
    }  
    .index_imgEstamp {
        width: 50rem;
        max-width: 100%;
        margin-top: 2rem;  
        height: 40rem; 
    }
 
   

}

@media (max-width:576px){




.index_title{
    font-size: $text-large;
}






}

