

.serv_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    width: 75%;
    margin: 0 auto;
   .serv_title{  font-family: $principal-font;
        
    font-size: $text--Xlarge;

    color: rgb(255, 217, 0) ;
    text-align: center;
    margin-top: 4rem;
    }
  
    .tecn_box{
      
        margin-top: 2rem;
        margin-bottom: 4rem;
        background: rgba(117, 113, 113, 0.3);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       -webkit-backdrop-filter: blur( 15px );
        border-radius: 10px;
        border: 1px solid rgba(255, 241, 0, 0.18);
        width: 100%;
        .tecni__subtitle{ 
            text-align: center;
             font-family: $principal-font;
             font-size: map-get($map: $fontSizes , $key: 'sub_tittle' ) ;
             color: $primary-color;}

        .tecni__p{
                text-align: left;
                font-family: $seconday-font;
                font-size:map-get($map: $fontSizes , $key:'paragraph' );
                color: $text-color;
                list-style: none;
               
            }
    
    
    
    
  

}


    
}




.imgBox{
    @include flex(row, center, center, 5rem,);

   
    margin-top: 8rem;
    margin-bottom: 8rem;

.imgtec{
    max-width: 20rem;
    justify-content: center;
    align-content: center;
   
}

}

.imgBox_laser{
    gap:7rem;
    @extend .imgBox ;


}


/*MediaQueries*/
@media (max-width:992px){
  
    .imgBox{
      
    
    .imgtec{
        width: 18rem;
         gap: 4rem ;
    }
    
    }
 




}
@media (max-width:768px)
 {
    
    /*servicios*/

    .serv_box {
        .serv_title{font-size: $text-large; }

    }

    


    .imgBox{
    
    .imgtec{
        width:16rem;
        gap: 3rem ;

                 }
            }
    
}

@media (max-width:576px){

    .imgBox{
    
        .imgtec{
            width: 10rem;  
         }
            
            }
        
    }

@media (max-width:480px) {
    .imgBox{
    
        .imgtec{
            width: 8rem;  
         }
            
            }
        
    

}