
/*colors*/

$primary-color: rgb(255, 217, 0) ;
$seconday-color: black ;
$alternative-color: rgb(221, 219, 219) ;
$text-color: white ;

/*spacing*/
$spacing-Large: 7rem;
$spacing-mid: 4rem;
$spacing-small: 2.4rem ; 
$spacing-xsmall: 1.4rem;

/*font family*/

$principal-font: 'IBM Plex Sans', sans-serif;
$seconday-font: 'IBM Plex Serif', serif;

/*Font Size*/
$text--Xlarge:10em;
$text-large: 5.2em;
$text-mid: 3.4em ;
$text-small: 2.4em;

