.footer_box {
    @include flex(row, space-around, center, 5rem,);
    background-image:linear-gradient(to bottom,orange,yellow);
     width: 100%;
     height: 8rem;
     margin-top: 10rem;

    
    .footer_since {
     
      font-family:$seconday-font;
      font-size: 5rem;
      justify-content: left;
  }    
   

  .footer__social{
    margin-left: 3rem;

    


.footer_redes { margin-left: 30rem;
            

  

}

}


}


     


.footer_logos {
 max-width: 5.5rem;
 margin: 0.5rem;

 transition: all .2s ease-in-out; 


 &:hover{ transform: scale(1.1);
  }

  
 
 

}




/*MediaQueries*/

@media (max-width:768px)
 {
   


    .footer_box{
    
       .footer_since {
            font-size: 3rem;
         }    

    .footer__social{
        margin-left: 3rem;
        justify-content: right;
        
    
    
    .footer_redes { margin-left: 30rem;
                
    
        
    
    }
        
    
    
    }
     
    
    .footer_logos {
        max-width: 4rem;
        }
   

}
 }
