header{
    width: 100%;}

.linkBox{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        background-image:linear-gradient(to bottom,orange,yellow);
        padding: 2rem;
        width: 100%;
       
        .link{
            font-size: $text-small;
            list-style: none;
            transition: all .2s ease-in-out; 
            
       
        } 
        
        
      
    
    }
    
    .link:hover { transform: scale(1.1); }


/*MediaQueries*/
@media (max-width:992px){
 

    .linkBox{
       
        .link{
            font-size: $text-mid;
        }
             } 
        
         }
    

@media (max-width:768px)
 {
     /*index*/
   
    .linkBox{
       
        flex-direction: column;
        
    }
    
   

}




@media (max-width:480px) {

    .linkBox{
      
        .link{
            font-size: $text-small;
        } 
        
    }

}