*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    color: $seconday-color;
    text-decoration: none;
    font-family: $seconday-font;
   width: 50%;

}

li{
    list-style: none;
}

img{
width: 100%;
height: auto;

}

body{
    background: linear-gradient(-45deg, #000000, #161616, #1f1e1eb6,#010101d6 ,#252525);
    background-size: 400% ,400%;
    animation: gradient 10s ease infinite;
    height: 100%    ;
}

